/*  your css code here. If applicable */
.hero{
	display: flex;
	justify-content: center;
	align-item: center;
}
.image>img{
	width: 400px;
	height: 200px;
	object-fit: cover;
}
.Explore-Now{
	text-align: center;
}
.Explore-Now>button{
	padding: 5px;
	background: red;
	color: white;
	border-radius: .2rem;
}